<div class="flex justify-between flex-col lg:items-center lg:flex-row mt-2">
    <h2 class="text-lg font-bold"><%= link_to project.title, project.url, target: :_blank %></h2>
</div>
<h4 class="font-bold"><%= project.tech_stack %></h4>
<p class="mt-1 text-justify"><%= project.description %></p>
